.trayFoodHolder{
    display: flex;
    margin-bottom: 1rem;
    
}


.trayFoodDetails{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;    
}

.trayFoodItems{
    margin-left: 0;
}
.trayFoodprice{
    color: var(--main-color);
}
.trayFoodName{
    margin-bottom: 1rem;
}

.cartOptionsBtnContainer{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.trayFoodImage{
    height: 6rem;
    width: 6rem;
}
.cartOption{
    background-color: var(--main-color);
    outline: none;
    border: none;
    color: #fff;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    cursor: pointer;
}
.trash{
    color: var(--main-color);
    font-size: 1.6rem;
    cursor: pointer;
}
.trayFoodButtons{
    display: flex;
    justify-content: space-between;
    
}
.foodDetailsContainer{
    margin-left: 1rem;
}
.value{
    margin: 0 .4rem;
}

@media screen and (max-width: 700px) {
    
    .trayFoodprice {
        font-size: .7rem;
    }
        .trayFoodName {
            margin-bottom: 0;
            font-size: .9rem;
    }
        .trayFoodDetails {
            width: 100%;
        }
}

@media screen and (max-width: 500px) {
    
    .cartOptionsBtnContainer{
        margin-right: 1.3rem;
    }
    .trayFoodItems{
        margin-left: 0;
    }
    
}

@media screen and (max-width: 470px) {
    .foodDetailsContainer {
        display: flex;
        flex-direction: column;
    }
        .trayFoodDetails {
            width: 100%;
            display: block;
            margin: 0;
        }
}