.heroSection{
    width: 100vw;
    height: 85vh;
    position: relative
}

.heroSectionHeader{
    text-align: center;
    color: var(--main-color);
    margin: auto;
    margin-top: 2rem;
    width: 35%;

}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.orderNowBtn{
    height: 40px;
    cursor: pointer;
    width: 15%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1rem;
    border-radius: .6rem;
    outline: none;
    border: none;
}
.chips_image{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15rem;
}
.small_burger{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 15rem;
}

@media screen and (max-width: 900px){
    .small_burger {
        height: 15rem;
    }
    
    .chips_image {
        height: 15rem;
    }
}

@media screen and (max-width: 865px) {
    .small_burger {
        height: 12rem;
    }

    .chips_image {
        height: 12rem;
    }
}


@media screen and (max-width: 800px) {
    .heroSectionHeader {
        width: 70%;
        font-size: 1.8rem;
    }
    .heroSection {
        height: 70vh;
    }
}

@media screen and (max-width: 700px) {
    .heroSectionHeader {
        width: 70%;
        font-size: 1.5rem;
    }
    .orderNowBtn {
        height: 40px;
        width: 30%;
        font-size: 1.1rem;
    }
    .chips_image {
        display: none;
    }
    
    .small_burger {
        display: none;
    }
    .heroSection {
        height: 35vh;
    }
    .heroSection {
        height: 26vh;
    }
}

@media screen and (max-width: 650px) {
    
    .heroSection {
        height: 40vh;
    }

}

@media screen and (max-width: 500px) {
    .heroSectionHeader {
        width: 90%;
        font-size: 1.5rem;
    }
        .orderNowBtn {
            width: 40%;
            font-size: 1rem;
        }
        .heroSection{
            height: 30vh;
        }
}