.howItWorks{
    height: 80vh;
    width: 100%;
}
.vendors__desc{
    text-align: center;
    color: var(--main-color);
    width: 30%;
    margin: auto;
    font-size: 1.5rem;
}
.vendors{
    width: 100vw;
}
.small__Image{
    height: 6rem;
        width: 3rem;
        position: absolute;
        left: 0;
}

.vendors__desc--image{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
}
.orderFoodText{
    text-align: center;
}