.sign{
    display: flex;
    height: 100vh;
    width: 100vw;

    
}
.auth{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.auth__box{
    width: 70%;
}
.logoContainer{
    margin: auto;
    width: 1rem;
}
.auth__text{
    color: var(--main-color);
    text-align: center;
}
.form_detail{
    width: 100%;
    margin-bottom: .7rem;
}

label{
    display: block;
    
}
.form_input{
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 5px;

}
.btn{
    width: 100%;
    margin-top: 1rem;
}

.form_button{
    height: 45px;
    background-color: var(--main-color);
    width: 100%;
    outline: none;
    border: none;
    margin-top: 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.haveAcctAlready{
    font-size: .8rem;
    margin-top: 1rem;
    font-weight: 500;
}
.logIn{
    text-decoration: none;
    color: var(--main-color);
}


@media screen and (max-width: 800px) {
    .auth {
        padding: 0;
    }
    .auth__box {
        width: 85%;
    }
    label{
        font-size: .9rem;
    }
}

@media screen and (max-width: 600px) {
    .auth {
        padding: 0;
        width: 100%;
    }

    .auth__box {
        width: 85%;
    }
}