.cartLayout{
    width: 50vw;
    margin: auto;
    padding: 1rem;
}

.cartItems{
    height: 60vh;
    overflow-y: scroll;
    

}
.moneyToSpend{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: .3rem;
}
.total{
    color: var(--main-color);
}
.yourOrderText{
    color: var(--main-color);
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
    .cartLayout{
        width: 80vw;
        padding: .5rem;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .cartLayout {
        width: 80vw;
        padding: .5rem;
        margin: auto;
    }
}